.container{
    width: 2736px;
    height: 1824px;

    position: absolute;
    top: 0px;
    left: 0px;

    background-image: url(../assets/Kit_BG.png);
}

.contents_container {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 514px;
    left: 171px;
    right: 172px;
    bottom: 0px;
 }

.large_contents_container{
    display: flex;
    justify-content: space-between;

    width: 1879px;
}

.small_contents_container{
    display: flex;
    justify-content: space-between;

}

.light_off_contents_container{
    position: absolute;
    bottom: 314px;
    right: 0px;
}

.large_icon
{
    width: 561px;
    height: 855px;
    border-radius: 20px;
}

.small_icon
{
    width: 342px;
    height: 342px;
    vertical-align: middle;
	display: table-cell;
    border-radius: 20px;
}

.circle_icon
{
    width: 257px;
    height: 257px;
}

.selected
{
}

.unselected
{
}

.unselected > img.selected_image
{
    display: none;
    object-fit: fill;
}

.selected > img.unselected_image
{
    display: none;
    object-fit: fill;
}
