.icon
{
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
}
.selected
{
    background-color: #DFD;
    color: #707;
}
.unselected
{
    background-color: #FDD;
    color: #077;
}
.icon span
{
    vertical-align:middle;
}